.head {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: orangered;
  h5{
      font-size: 20px;
      color: white;
      line-height: 20px;
  }
  p{
      font-size: 18px;
      color: white;
      line-height: 20px;
  }
}
.main_container {
  max-height: 280px;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    width: 0;
  }
  .menu {
    padding: 20px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid grey;
    &_inner {
      width: 70%;
      height: 100px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .foot {
        display: flex;
        align-items: center;
        .del_icon {
          margin-left: 10px;
        }
      }
      p{
          margin-bottom: 5;
          font-size: 18px;
      }
    }
  }
}
