.MainContainer {
    text-align: center;
    .ContImage {
        width: 100px;
        margin-top: 10px;
    }
    .CuntForm {
        margin-top: 8px;
    }
    .btn_primary{
        margin-top: 90px !important;
        background: linear-gradient(93.26deg, #4E53FF 9.35%, #2B23BD 88.89%);
        border-radius: 8px;
        color: white; 
        height: 50px;
        font-size: 24px;
    }
    
}
