@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
.registration_block {
  height: 100vh;
  max-width: 500px;
  margin: 0 auto;
  padding-top: 200px;
  .form_inputs {
    display: grid;
    gap: 20px;
  }
  .text_danger {
    color: #ff0015;
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
  }
}
