* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f4f4f4;
}

.css-1poimk-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper {
  width: 400px !important;
  padding: 0px !important;  
  height: auto;
}


.css-6hp17o-MuiList-root-MuiMenu-list{
    padding: 0px;
}

